# Python_Basics

Text
- Punkt 1
- Punkt 2

*kursiv* **fett**

In [1]:
print ("Hello World!")

Hello World!

In [2]:
# Das ist ein Kommentar
# zweite Zeile
'''
bla
blubb
'''
print ("etwas")

etwas

In [3]:
print?

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

# Einfache Datentypen

In [6]:
age=73

In [7]:
print(age)

73

In [8]:
size = 1.7123

In [10]:
knows_math = True

In [11]:
print(knows_math)

True

In [12]:
likes_gardening=False

In [13]:
print(likes_gardening)

False

In [14]:
type(name)

str

In [15]:
type(age)

int

In [16]:
type(size)

float

In [18]:
type(likes_gardening)

bool

# Operatoren

In [19]:
13+12

25

In [20]:
13*12

156

In [21]:
100 * age

7300

In [22]:
name+name

'LovelaceLovelace'

In [23]:
name*10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
name+10

TypeError: can only concatenate str (not "int") to str

In [25]:
name+"10"

'Lovelace10'

In [26]:
number_of_articles="50"

In [27]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [28]:
int(number_of_articles)/10

5.0

In [32]:
type(number_of_articles)

int

In [31]:
number_of_articles=int(number_of_articles)

## Funktionen und Methoden

In [33]:
print(name)

Lovelace

In [34]:
len(name)

8

In [35]:
name.upper()

'LOVELACE'

In [37]:
name.count("e")

2

In [39]:
name.replace("lace"," is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [43]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [41]:
names[2]

'Curie'

zero based: 0, 1, 2, 3

In [44]:
names[0]

'Lovelace'

In [45]:
names[3]

'Hawking'

names[-1]

In [46]:
names[-1]

'Hawking'

In [47]:
len(names)

4

In [48]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

hier erstes Element inclusiv, letztes exclusiv

In [49]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [50]:
names[2:]

['Curie', 'Hawking']

In [51]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noehter": 1882 }

In [52]:
authors_and_birth_years["Darwin"]

1809

## For-Schleife

In [53]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [54]:
for person in names:
    print(person)

Lovelace
Darwin
Curie
Hawking

In [55]:
for author, birth_year in authors_and_birth_years.items():
    print(author)
    print(birth_year)

Lovelace
1882
Darwin
1809
Noehter
1882

In [58]:
name_und_essen={"Peter": "Schokolade",
               "Martina": "Folio-Kartoffel",
               "Jana": "Kohl",
               "Kirstin": "Nudeln"}

In [59]:
menschen=["Peter","Martina","Jana","Kirstin"]

In [61]:
for person in menschen:
    print(person)

Peter
Martina
Jana
Kirstin

In [68]:
for name,essen in name_und_essen.items():
    print(name) 
    print("mag")
    print(essen)

Peter
mag
Schokolade
Martina
mag
Folio-Kartoffel
Jana
mag
Kohl
Kirstin
mag
Nudeln

In [70]:
for name,essen in name_und_essen.items():
    print(name, "mag", essen)

Peter mag Schokolade
Martina mag Folio-Kartoffel
Jana mag Kohl
Kirstin mag Nudeln

In [72]:
for name,essen in name_und_essen.items():
    print(name + " mag " + essen)

Peter mag Schokolade
Martina mag Folio-Kartoffel
Jana mag Kohl
Kirstin mag Nudeln

## Bedingte Anweisungen (Conditionals)

In [74]:
temp=20
if temp>15:
    print("Es ist kalt")

Es ist kalt

In [75]:
20>15

True

In [77]:
temp=10
if temp>15:
    print("Es ist warm")

In [78]:
temp=10
if temp>15:
    print("Es ist warm")
else:
    print("Es ist kalt")

Es ist kalt

In [81]:
temp=10
if temp>=25:
    print("Es ist heiÃŸ")
elif temp>=15:
    print("Es ist warm")
else:
    print("Es ist kalt")

Es ist kalt